.mainHeader {
    min-height: 299px;
    margin-top: 40px;
    margin-bottom: 481px;
    padding: 0 60px;
    background-color: rgb(247, 226, 150);
}

.mainHeader__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.mainHeader__row--bottom {
    display: block;
    position: relative;
}