.catalog__list {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 100;
}

.catalog__item {

}

.catalog__link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.catalog__list--mainNav {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    margin: 0;
}

.catalog__item--mainNav {
    width: 220px;
    min-height: 36px;
    /*padding: 0 10px;*/
    margin: 0;
    flex-shrink: 0;
}

.catalog__link--mainNav {
    display: block;
    font-size: 15px;
    line-height: 2.4em;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.catalog__link--mainNav:hover {
    opacity: 0.6;
}

.catalog__link--mainNav:active {
    opacity: 0.3;
}
/*----------------------mainContent--------------------*/
.catalog__list--mainContent {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 185px;
}

.catalog__item--mainContent {
    flex-basis: 160px;
    margin-left: 20px;
    margin-right: 20px;
}

.catalog__link--mainContent {
    display: block;
    position: relative;
    padding-top: 195px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 1.2em;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 700;
}

.catalog__link--mainContent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    background-color: rgb(247, 226, 150);
    background-image: url('../../img/icons/spriteIcons.png');
    background-position: 31px -448px;
    background-repeat: no-repeat;
}

.catalog__link--mainContentMonopod::before {
    background-position: -462px -457px;
}

.catalog__link--mainContentActionCameras::before {
    background-position: -956px -462px;
}

.catalog__link--mainContentFitnessBracelets::before {
    background-position: -1478px -450px;
}

.catalog__link--mainContentSmartwatches::before {
    background-position: -1945px -468px;
}

.catalog__link--mainContentQuadcopters::before {
    background-position: -2487px -451px;
}

.catalog__link--mainContent:hover::before {
    background-color: rgb(240, 197, 46);
}

.catalog__link--mainContent:active::before {
   background-position: 31px -948px;
}

.catalog__link--mainContentMonopod:active::before {
    background-position: -462px -957px;
}

.catalog__link--mainContentActionCameras:active::before {
    background-position: -951px -962px;
}

.catalog__link--mainContentFitnessBracelets:active::before {
    background-position: -1472px -950px;
}

.catalog__link--mainContentSmartwatches:active::before {
    background-position: -1945px -968px;
}

.catalog__link--mainContentQuadcopters:active::before {
    background-position: -2490px -951px;
}

.catalog__link--mainContent:active {
   color: rgba(0, 0, 0, 0.3);
}