.compare {
    margin-right: 30px;
}

.compare__link {
    display: block;
    position: relative;
    max-width: 100px;
    padding-left: 20px;
    padding-right: 4px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    text-decoration: none;
    font-size: 15px;
    line-height: 2.4em;
    font-family: 'Open Sans', 'Arial', sans-serif;
	color: rgb(0, 0, 0);
	box-sizing: border-box;
}

.compare__link:hover {
    opacity: 0.6;
}

.compare__link:active {
    opacity: 0.3;
}

.compare__link::before {
    content: '';
	position: absolute;
    top: 27px;
    left: 0;
    width: 11px;
    height: 13px;
    margin-top: -6px;
    background-image: url('../../img/icons/spriteIcons.png');
    background-position: -1000px 2px;
    background-repeat: no-repeat;
}

/*----------------------footer-----------------------------*/
.compare--footer {
    margin-right: 29px;
}

.compare__link--footer {
    padding-top: 0;
    padding-bottom: 0;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.6em;
}

.compare__link--footer:hover {
    color: rgb(255, 255, 255);
}

.compare__link--footer:active {
    color: rgba(255, 255, 255, 0.3);
}

.compare__link--footer::before {
    top: 14px;
    background-position: -1000px -3500px;
}