.contacts {
}

.contacts__title {
    margin: 0;
    margin-bottom: 39px;
    padding: 0;
    font-size: 47px;
    line-height: 1.2em;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
    
.contacts__text {
    max-width: 550px;
    margin: 0;
    margin-bottom: 39px;
    padding: 0;
    font-size: 15px;
    line-height: 2em;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 300;
    color: rgb(70, 70, 70);
} 

.contacts__link {
    display: block;
    width: 260px;
    font-size: 18px;
    line-height: 1.2em;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    z-index: 1;
}

.contacts__map {
    width: 560px;
    height: 222px;
    margin-bottom: 68px;
    background-color: rgb(234, 234, 234);
    background-image: url('../../img/bg/map.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
}
