.socials {

    outline: 1px solid red;
    background-color: rgb(70, 70, 70);
}

.socials__list {
    display: flex;
    justify-content: center;
    margin: 0 -16px;
    padding: 0;
    list-style: none;
}

.socials__item {
    width: 36px;
    height: 36px;
    margin: 0 16px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0.3;
}

.socials__item:hover {
    opacity: 0.6;
}

.socials__item:active {
    opacity: 0.1;
}

.socials__link {
    display: block;
    height: 100%;
    
    font-size: 0;
}