.userBlock {
    display: flex;
    max-width: 260px;
    min-width: 260px;
    margin-right: 28px;
}

.userBlock__item--hidden {
    display: none; /*!изменить с помощью clip!*/
}

.userBlock__link {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    line-height: 2.4em;
    font-family: 'Open Sans', 'Arial', sans-serif;
	color: rgb(0, 0, 0);
}

.userBlock__link:hover {
    opacity: 0.6;
}

.userBlock__link:active {
    opacity: 0.3;
}